body{
    background-color: #2196f3;
}

#container{
    background-color: antiquewhite;
    width: 40%;
    border-radius: 5px;

    margin-left: 30%;
    margin-right: 25%;
}

img{
    border: 5px double black;
    width: 50%;
    margin-left: 25%;
}

h1{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}

h3{
    font-family: sans-serif;
    text-align: center;
}

#hotel{
    display: block;
    background-color: burlywood;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

#hotel:hover{
    background-color: aqua;
}

#container-hotel{
    background-color: antiquewhite;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

p{
    padding: 2%;
}

.buttonBack{
    display: block;
    background-color: burlywood;
    width: 10%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.buttonBack:hover{
    background-color: aqua;
}

li{
    padding: 5px;
    font-family: sans-serif;
}