body{
    background-color: aquamarine;
}

ol{
    text-align: center;
}
.film{
    font-size: 20px;
    font-weight: bolder;
}
.game{
    font-size: 20px;
    font-weight: bolder;
}

#fundofilm1{
    background-color: yellowgreen;
}

#fundofilm2{
    background-color: #E38C44;
}

#fundofilm3{
    background-color: #FCFF54;
}